@font-face {
    font-family: 'SKYBORI';
    src: url('./font/SKYBORI.ttf');
  }
  
@font-face{
    font-family: 'HWTOTO';		
    src: url("./font/HWTOTO132.TTF"); 
}

.App {
    font-family:SKYBORI;
}
